<div class="container" id="widthauto">
  <div class="list-group" >
    <%= link_to "#", class: "list-group-item" do %>
      <div class="media">
        <span class="label label-danger pull-right"></span>
        <div class="checkbox pull-left">
        </div>
        <div class="pull-left">
          <%= t "fels" %>
        </div>
        <div class="media-body">
          <h5 class="media-heading"></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
