<% provide :title, t("admin") %>
<div class="container-fluid main-container">
  <%= render "share/admins/admin_navbar" %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
    </div>
  </div>
</div>
