<div class="row" id="answer_fields" >
  <h4>
    <div class="col-md-2 bh-input">
      <%= f.check_box :is_correct, disabled: true %>
    </div>
    <div class="col-md-10">
      <%= f.text_field :content %>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
  </h4>
</div>
