<div class="row" id="answer_fields" >
  <div class="col-md-2 bh-input">
    <%= f.check_box :is_correct, class: "check_answers", value: "0" %>
  </div>
  <div class="col-md-10"><%= f.text_field :content %></div>
  <div class="col-md-6 col-md-offset-2">
    <%= link_to_remove_fields t(:remove), f %></div>
</div>
