<li class="list-group-item">
  <%= link_to image_word(word, Settings.size_avatar), "#" %>
  <span class="badge" ><i class="fa fa-chevron-right icon-data">
    <%= link_to t("delete"), "#" %></i>
  </span>
</li>
