# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d82297233aef906e932b10171302e0232af59d6a77981bb4bdc3b8ac71644ffd2d75117a50f86318ed2bbe7fdfbfa9a9d0a91a1063848c2675e764ae289a5f56

test:
  secret_key_base: 3aa95681329ed229e1bb1c72828cc2a6f0edb77453810b1c1941dd633853497873ae7af6e1f548f0c1ae917f3a5c40f60e925af99469beae4f4f0273d12ea5d9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
