<ul class="list-group product-category-all" id="category-all">
  <li class="list-group-item">
    <span class="badge" >
      <i class="fa fa-chevron-right icon-data"></i>
    </span>
    <%= image_tag "category.jpg", id: "image-category"%>
    <%= link_to category.name, admin_category_path(category) %>
    <%= link_to t("edit"), edit_admin_category_path(category.id),
      id: "delete-category" %>
  </li>
</ul>
