@import "bootstrap-sprockets";
@import "bootstrap";

#button-delete-category {
  margin-left: 40%
}

.div-space-word-show-admin {
  float: left;
  width: 100%;
  height: 10%
}

.div-words-show-admin {
  border: 2px solid lightgrey;
  border-radius: 12px;
  float: left;
  width: 33%;
  height: 10%;
  text-align: center
}

.div4-admin-content {
  float: right;
  width: 1%;
  height: 70%;
}

.div3-admin-content {
  float: left;
  width: 100%;
  height: 100%;
}

.div2-admin-content {
  float: none;
  margin: 50px;
  width: 90%;
  height: 80%
}

.div1-admin-content {
  width: 100%;
  float: left;
  height: 400px
}

.div-name-admin-content {
  text-align: center;
  float: left;
  width: 40%;
  height: 35px
}

#button-add-new-words {
  margin-left: 40%
}

.but-add-del-show-category {
  float: left;
  width: 30%;
  height: 35px
}

#div-show-lesson {
  float: left;
  width: 50%;
  height: 500px
}

.div-result {
  float: left;
  height: auto;
  margin-left: 25%
}

.div-head-show-result {
  width: 50%;
  float: left;
  height: 100px;
  text-align: center
}

.div-lesson-create-at {
  width: 25%;
  float: left;
  height: 100px;
}

.div-show-lesson {
  float: left;
  width: 50%;
  height: 500px;
  display: none
}

#div-button-next {
  float: left;
  width: 40%;
  height: 150px
}

#div-button-prev {
  float: left;
  width: 60%;
  height: 150px
}

.div-space-button-next-prev1 {
  float: left;
  width: 100%;
  height: 150px
}

.div-space-button-next-prev {
  float:left;
  width: 25%;
  height: 500px
}

.div-button-start-finish {
  float: none;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.div-button-finish-do-lesson {
  float: left;
  width: 50%;
  height: 100px;
  display: none
}
.div-button-start-do-lesson {
  float: left;
  width: 50%;
  height: 100px;
  display: block
}

.display-block {
  display: block;
}

#div-clock {
  float: left;
  width: 50%;
  height: 100px
}

.display-none {
  display: none;
}

#div-lesson-categories {
  float: left;
  width: 50%;
  height: 100px;
  text-align: center
}

.div-space-show-lesson {
  float: left;
  width: 25%;
  height: 100px
}

.div-answers {
  float: left;
  width: 150px;
  height: 100px
}

#div-space-answer {
  float: left;
  width: 100px;
  height: 400px
}

.div-image-words {
  float: left;
  width: 60%;
  height: 400px;
  background-color: white
}

#div-stt {
  float: left;
  width: 100%;
  height: 54px
}

#lesson-question-none {
  display: none;
}

.width-350 {
  width: 350px
}
#height-600 {
  height: 500px;
  text-align: center;
}

#height150 {
  height: 150px
}
#delete-category {
  float: right;
}
#category-all {
  width: 1000px
}
#image-category {
  width: 50px
}

#magginright {
  margin-right: 50px;
}

#left {
  float: left;
}
#right {
  float: right;
}

select {
  width: 400px;
  text-align:center;
  text-indent: 5px
}
#result{
  width: 900px;
  height: 500px;
  float: left
}
#buttonlesson{
  width: 400px;
  height: 100px;
  float: right
}
#buttonlist{
  width: 400px;
  height: 100px;
  float: left
}

#userprofile{
  height: 600px;
  width: 400px;
  float: left
}

#widthauto{
  width: auto;
}

body, html{
  height: 100%;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  font-family: "Oxygen", sans-serif;
}

.main_signup{
  margin-top: 5px;
  margin-bottom: 50px;
}

.main{
  margin-top: 70px;
}

h1.title {
  font-size: 50px;
  font-family: "Passion One", cursive;
  font-weight: 400;
}

hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login{
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
  padding: 40px 40px;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

.funkyradio {
  div {
    clear: both;
    overflow: hidden;
  }

  label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
  }

  input[type="radio"],
  input[type="checkbox"] {
    &:empty {
      display: none;
      ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        user-select: none;
        &:before {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          content: "";
          width: 2.5em;
          background: #D1D3D4;
          border-radius: 3px 0 0 3px;
        }
      }
    }

    &:hover:not(:checked) ~ label {
      color: #888;
      &:before {
        content: "\2714";
        text-indent: .9em;
        color: #C2C2C2;
      }
    }

    &:checked ~ label {
      color: #777;
      &:before {
        content: "\2714";
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
      }
    }

    &:focus ~ label:before {
      box-shadow: 0 0 0 3px #999;
    }
  }

  &-default {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #333;
        background-color: #ccc;
      }
    }
  }

  &-primary {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #337ab7;
      }
    }
  }

  &-success {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #5cb85c;
      }
    }
  }

  &-danger {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #d9534f;
      }
    }
  }

  &-warning {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #f0ad4e;
      }
    }
  }

  &-info {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #5bc0de;
      }
    }
  }
}

h2 {
  font-family:arial;
}

form {
  display: inline-block;
}

.list {
  font-family:"Trebuchet MS";
  font-size:20px;
  color:#000000;
  cursor:pointer;
}

.btn.icon-revealed > span {
  left: -30px;
  display: block;
  width: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
}
.btn.icon-revealed:hover > span {
  width: 20%;
  -webkit-transform: translate(2em,0);
  -moz-transform: translate(2em,0);
  -o-transform: translate(2em,0);
  -ms-transform: translate(2em,0);
}

.btn.icon-revealed > p {
  display: block;
}

.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius:5px;
  -moz-border-top-left-radius:5px;
  border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
  height: 130px;
}
.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}
.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}
.card.hovercard .card-info .card-title {
  padding:0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.btn-pref .btn {
  -webkit-border-radius:0 !important;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

h1.page-header {
  margin-top: -5px;
}

.sidebar {
  padding-left: 0;
}

.main-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
}

.footer {
  width: 100%;
}

:focus {
  outline: none;
}

.side-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
.side-body {
  margin-left: 310px;
}
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
  }

  .side-menu .navbar {
    z-index: 999;
    position: relative;
    height: 0;
    min-height: 0;
    background-color:none !important;
    border-color: none !important;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    position: fixed;
    left: -300px;
    width: 300px;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    overflow: auto;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .navbar-toggle-sidebar {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .side-menu .navbar-header {
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}

.main-text
{
  position: absolute;
  top: 50px;
  width: 96.66666666666666%;
  color: #FFF;
}
.btn-min-block
{
  min-width: 170px;
  line-height: 26px;
}
.btn-clear
{
  color: #FFF;
  background-color: transparent;
  border-color: #FFF;
  margin-right: 15px;
}
.btn-clear:hover
{
  color: #000;
  background-color: #FFF;
}
@import url(http://fonts.googleapis.com/css?family=Roboto);
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
  margin-left: 120px;
}

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
  .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

  .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
  .navbar .nav-collapse .navbar-form { margin: 0; }
  .nav-collapse>li { float: none; }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.show_container {
  height: 600px; 
  width: 30%;
  float: left;
}

.profile {
  width: auto
}

.show_word {
  width: 40%;
  height: 100px; 
  float: left;
}

.show_word button {
  float: right;
}

.do_lesson {
  width: 40%;
  height: 100px; 
  float: right;
}

.do_lesson button {
  float: left;
}

.container {
  width: auto;
}

.point {
  width: 900px; 
  height: 500px; 
  float: left;
}

.stats {
  margin-left: 100px;
}

.div-my-lesson {
  float: left;
  width: 100%;
  height: 10%
}

.table-my-lesson {
  width: 30%;
  height: 100%;
  float: left;
  border-right: solid;
  text-align: center;
  border-bottom: inset
}

.color-red {
  color: orangered;;
}

.table-my-lesson-button {
  width: 10%;
  height: 100%;
  float: left;
  border-bottom: inset;
  text-align: center
}

.div-button-show-user {
  float: left;
  width: 70%;
  height: 70px
}

.div-content-show-user {
  width: 100%;
  height: 600px
}

.full-div-content-show-user {
  margin-top: 1%;
  margin-left: 2%;
  float: left;
  width: 67%;
  background-color: white;
  height: 500px
}

#head-div-content-show-user {
  border-bottom: solid;
  border-bottom-width: thin
}

.div-table-my-lesson {
  width: 92%;
  margin-left: 4%;
  height: 400px;
  margin-top: 2%;
  border: groove
}

.content-table-my-lesson {
  float: left;
  width: 100%;
  height: 80%
}

.strong-th-table-my-lesson {
  width: 30%;
  height: 100%;
  float: left;
  border-right: solid;
  text-align: center;
  border-bottom: solid
}

.button-th-table-my-lesson {
  width: 10%;
  height: 100%;
  float: left;
  border-bottom: solid
}

.div-will-paginate-my-lesson {
  float: left;
  width: 100%;
  height: 20%
}
.div-admin-show-users {
  width: 100%;
  height: 40px
}

.div-float-right {
  float: right;
}

.div-float-left {
  float: left;
}

.div-admin-show-all-users {
  width: 100%;
  height: 400px
}

.div-lesson-admin {
  margin-top: 1%;
  margin-left: 15%;
  float: left;
  width: 67%;
  background-color: white;
  height: 500px;
}
#height-500 {
  height: 500px
}

.div1-image-word-edit {
  float: right;
  width: 100%;
  height: 200px
}

.div2-image-word-edit {
  float: top;
  margin-top: 40%
}
